<footer class="footer">
  <p>This page was built using a <a href="https://github.com/shampeon/antora-ui">customization</a> of the Antora default UI.</p>
  <p>The source code for this UI is licensed under the terms of the <a href="https://github.com/shampeon/antora-ui/blob/master/LICENSE">MPL-2.0 license</a>.</p>
</footer>
